/* 
========================
  GRIDINATOR CSS v0.4.1
  http://gridinator.com/
  
  GRIDINATOR CSS is a very basic framework to create
  grid-based layouts. The content of this file is 
  provided as-is, without support.
  
  If you would like to contact GRIDINATOR to suggest
  improvements, to ask for help or to file a bug report, 
  please feel free to email: gridinator@steff.me
  
  Your grid settings:
  	columns: 12
  	column width: 60px
  	column margin: 20px
  	container margin: 20px
    
=========================
*/
.wrapper {
	margin: 32px auto; /* This centers the grid. Remove this line to place the grid on the left of the page. */
	text-align: left;
	max-width: 980px;
}

.inner-wrapper {
	clear: both;
	padding: 0 20px 0 20px;
	position: relative;
	max-width: 940px;
}

.container {
	clear: both;
	float: left;
	margin: 0;
	width: 100%;	
}
.one-col, .two-col, .three-col, .four-col, .five-col, .six-col, .seven-col, .eight-col, .nine-col, .ten-col, .eleven-col, .twelve-col {
	clear: none;
	display: inline;
	float: left;
	margin-bottom: 48px;
	margin-right: 2.12766%;
	padding: 0;
	position: relative;
}
 .one-col {
	width: 6.38297%;
}
.two-col {
	width: 14.89361%;
}
.three-col {
	width: 23.40426%;
}
.four-col {
	width: 31.91489%;
}
.five-col {
	width: 40.42553%;
}
.six-col {
	width: 48.93617%;
}
.seven-col {
	width: 57.4468%;
}
.eight-col {
	width: 65.95744%;
}
.nine-col {
	width: 74.46808%;
}
.ten-col {
	width: 82.97872%;
}
.eleven-col {
	width: 91.48936%;
}
.twelve-col {
	width: 100%;
	margin-right: 0;
}
 .twelve-col .one-col {
	width: 6.38297%;
	margin-right: 2.12765%;
}
.twelve-col .two-col {
	width: 14.89361%;
	margin-right: 2.12765%;
}
.twelve-col .three-col {
	width: 23.40425%;
	margin-right: 2.12765%;
}
.twelve-col .four-col {
	width: 31.91489%;
	margin-right: 2.12765%;
}
.twelve-col .five-col {
	width: 40.42553%;
	margin-right: 2.12765%;
}
.twelve-col .six-col {
	width: 48.93617%;
	margin-right: 2.12765%;
}
.twelve-col .seven-col {
	width: 57.4468%;
	margin-right: 2.12765%;
}
.twelve-col .eight-col {
	width: 65.95744%;
	margin-right: 2.12765%;
}
.twelve-col .nine-col {
	width: 74.46808%;
	margin-right: 2.12765%;
}
.twelve-col .ten-col {
	width: 82.97872%;
	margin-right: 2.12765%;
}
.twelve-col .eleven-col {
	width: 91.48936%;
	margin-right: 2.12765%;
}
.twelve-col .twelve-col {
	width: 100%;
	margin-right: 0;
}
.eleven-col .one-col {
	width: 6.97674%;
	margin-right: 2.32558%;
}
.eleven-col .two-col {
	width: 16.27906%;
	margin-right: 2.32558%;
}
.eleven-col .three-col {
	width: 25.58139%;
	margin-right: 2.32558%;
}
.eleven-col .four-col {
	width: 34.88372%;
	margin-right: 2.32558%;
}
.eleven-col .five-col {
	width: 44.18604%;
	margin-right: 2.32558%;
}
.eleven-col .six-col {
	width: 53.48837%;
	margin-right: 2.32558%;
}
.eleven-col .seven-col {
	width: 62.79069%;
	margin-right: 2.32558%;
}
.eleven-col .eight-col {
	width: 72.09302%;
	margin-right: 2.32558%;
}
.eleven-col .nine-col {
	width: 81.39534%;
	margin-right: 2.32558%;
}
.eleven-col .ten-col {
	width: 90.69767%;
	margin-right: 2.32558%;
}
.eleven-col .eleven-col {
	width: 100%;
	margin-right: 0;
}
.ten-col .one-col {
	width: 7.6923%;
	margin-right: 2.5641%;
}
.ten-col .two-col {
	width: 17.94871%;
	margin-right: 2.5641%;
}
.ten-col .three-col {
	width: 28.20512%;
	margin-right: 2.5641%;
}
.ten-col .four-col {
	width: 38.46153%;
	margin-right: 2.5641%;
}
.ten-col .five-col {
	width: 48.71794%;
	margin-right: 2.5641%;
}
.ten-col .six-col {
	width: 58.97435%;
	margin-right: 2.5641%;
}
.ten-col .seven-col {
	width: 69.23076%;
	margin-right: 2.5641%;
}
.ten-col .eight-col {
	width: 79.48717%;
	margin-right: 2.5641%;
}
.ten-col .nine-col {
	width: 89.74358%;
	margin-right: 2.5641%;
}
.ten-col .ten-col {
	width: 100%;
	margin-right: 0;
}
.nine-col .one-col {
	width: 8.57142%;
	margin-right: 2.85714%;
}
.nine-col .two-col {
	width: 20%;
	margin-right: 2.85714%;
}
.nine-col .three-col {
	width: 31.42857%;
	margin-right: 2.85714%;
}
.nine-col .four-col {
	width: 42.85714%;
	margin-right: 2.85714%;
}
.nine-col .five-col {
	width: 54.28571%;
	margin-right: 2.85714%;
}
.nine-col .six-col {
	width: 65.71428%;
	margin-right: 2.85714%;
}
.nine-col .seven-col {
	width: 77.14285%;
	margin-right: 2.85714%;
}
.nine-col .eight-col {
	width: 88.57142%;
	margin-right: 2.85714%;
}
.nine-col .nine-col {
	width: 100%;
	margin-right: 0;
}
.eight-col .one-col {
	width: 9.67741%;
	margin-right: 3.2258%;
}
.eight-col .two-col {
	width: 22.58064%;
	margin-right: 3.2258%;
}
.eight-col .three-col {
	width: 35.48387%;
	margin-right: 3.2258%;
}
.eight-col .four-col {
	width: 48.38709%;
	margin-right: 3.2258%;
}
.eight-col .five-col {
	width: 61.29032%;
	margin-right: 3.2258%;
}
.eight-col .six-col {
	width: 74.19354%;
	margin-right: 3.2258%;
}
.eight-col .seven-col {
	width: 87.09677%;
	margin-right: 3.2258%;
}
.eight-col .eight-col {
	width: 100%;
	margin-right: 0;
}
.seven-col .one-col {
	width: 11.11111%;
	margin-right: 3.7037%;
}
.seven-col .two-col {
	width: 25.92592%;
	margin-right: 3.7037%;
}
.seven-col .three-col {
	width: 40.74074%;
	margin-right: 3.7037%;
}
.seven-col .four-col {
	width: 55.55555%;
	margin-right: 3.7037%;
}
.seven-col .five-col {
	width: 70.37037%;
	margin-right: 3.7037%;
}
.seven-col .six-col {
	width: 85.18518%;
	margin-right: 3.7037%;
}
.seven-col .seven-col {
	width: 100%;
	margin-right: 0;
}
.six-col .one-col {
	width: 13.04347%;
	margin-right: 4.34782%;
}
.six-col .two-col {
	width: 30.43478%;
	margin-right: 4.34782%;
}
.six-col .three-col {
	width: 47.82608%;
	margin-right: 4.34782%;
}
.six-col .four-col {
	width: 65.21739%;
	margin-right: 4.34782%;
}
.six-col .five-col {
	width: 82.60869%;
	margin-right: 4.34782%;
}
.six-col .six-col {
	width: 100%;
	margin-right: 0;
}
.five-col .one-col {
	width: 15.78947%;
	margin-right: 5.26315%;
}
.five-col .two-col {
	width: 36.8421%;
	margin-right: 5.26315%;
}
.five-col .three-col {
	width: 57.89473%;
	margin-right: 5.26315%;
}
.five-col .four-col {
	width: 78.94736%;
	margin-right: 5.26315%;
}
.five-col .five-col {
	width: 100%;
	margin-right: 0;
}
.four-col .one-col {
	width: 20%;
	margin-right: 6.66666%;
}
.four-col .two-col {
	width: 46.66666%;
	margin-right: 6.66666%;
}
.four-col .three-col {
	width: 73.33333%;
	margin-right: 6.66666%;
}
.four-col .four-col {
	width: 100%;
	margin-right: 0;
}
.three-col .one-col {
	width: 27.27272%;
	margin-right: 9.0909%;
}
.three-col .two-col {
	width: 63.63636%;
	margin-right: 9.0909%;
}
.three-col .three-col {
	width: 100%;
	margin-right: 0;
}
.two-col .one-col {
	width: 42.85714%;
	margin-right: 14.28571%;
}
.two-col .two-col {
	width: 100%;
	margin-right: 0;
}
.one-col .one-col {
	width: 100%;
	margin-right: 0;
}
 .twelve-col .last-col {
	margin-right: 0;
}
.eleven-col .last-col {
	margin-right: 0;
}
.ten-col .last-col {
	margin-right: 0;
}
.nine-col .last-col {
	margin-right: 0;
}
.eight-col .last-col {
	margin-right: 0;
}
.seven-col .last-col {
	margin-right: 0;
}
.six-col .last-col {
	margin-right: 0;
}
.five-col .last-col {
	margin-right: 0;
}
.four-col .last-col {
	margin-right: 0;
}
.three-col .last-col {
	margin-right: 0;
}
.two-col .last-col {
	margin-right: 0;
}
.one-col .last-col {
	margin-right: 0;
}
.clear { /* Useful generic clearing class. */
	clear: both;
}
.last-col {
	margin-right: 0;
}
